# This is a basic workflow to help you get started with Actions

name: Modelops deploy

on: # anque que operaciones se va a ejecutar/disparar
  push:
    branches: [ main ] 
  pull_request:
    branches: [ main ] 
    
jobs:
  build:
    runs-on: ubuntu-latest 
    container: adsoft/aiops:latest
    
    steps:
    - uses: actions/checkout@v2 
    - name: hello-world
      run: echo "hello world workflows ...."
    - name: run model
      run: python linear-model.py
